.notifocationBigContainer {
    height: 100%;
    margin-bottom: 50px;
}

.notifocationWholeContainer {
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
}

.notifocationHeader {
    text-align: center;
}

.notifocationHeaderText{
    font-size: 30px;
    color: rgb(0, 0, 0);
    margin: 30px;
}

.notificationContainer {
    justify-items: start;
    text-align: center;
    width: 60%;
    margin-left: 80px;
}

.toolsItem{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #F6F7F9;
    border-radius: 5px 5px 0 0;
}

.toolsIcon{
    cursor: pointer;
    border-radius: 50%;
    padding: 10px;
}

.toolsIcon:hover{
    background-color: #EDF2F7;
}

.noNotificationsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F6F7F9;
    height: 80%;
}

.noNotificationsContainer p{
    font-weight: 400;
    font-size: 16px;
    color: rgb(128, 129, 145);
    text-align: center;
}

@media screen and (max-width: 768px) {
    .notificationContainer {
        margin-left: 20px;
    }
}